<%= render "shared/single_box" do %>
  <div>
    <h1 class="text-3xl font-bold pb-4"> <%= render "shared/logo_text" %> Sign in</h1>
    <%= tag.div(flash[:alert], class: "alert alert-error") if flash[:alert] %>
    <%= tag.div(flash[:notice], class: "alert alert-success") if flash[:notice] %>
    <%= form_with(url: session_path, html: { autocomplete: "on" }) do |form| %>
      <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address], class: "input input-bordered input-primary w-full mt-2" %>
      <br>
      <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", class: "input input-bordered input-primary w-full mt-2" %>
      <br>
      <%= form.submit "Sign in", class: "btn btn-primary btn-wide mt-4 w-full" %>
    <% end %>
    <div class="text-center py-4">
      or
    </div>
    <div>
      <%= link_to "Sign up", new_signup_path, method: :get, class: "btn btn-secondary btn-wide w-full" %>
    </div>
    <div class="pt-4">
      <%= link_to "Forgot password?", new_password_path, class: "link link-info" %>
    </div>
  </div>
<% end %>
