<%= render "shared/single_box" do %>
  <h1 class="text-3xl font-bold text-center pb-4">
    <%= render "shared/logo_text" %> Sign Up
  </h1>
  <% if @user.errors.any? %>
    <div class="alert alert-error mt-4">
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_with(model: @user, url: signup_index_path, class: "form-control mt-4",  html: { autocomplete: "on" }) do |form| %>
    <%= form.email_field :email_address, class: "input input-bordered w-full mt-2", placeholder: "Email", autocomplete: "username" %>
    <%= form.password_field :password, class: "input input-bordered w-full mt-2", placeholder: "Password", autocomplete: "new-password" %>
    <%= form.password_field :password_confirmation, class: "input input-bordered w-full mt-2", placeholder: "Confirm Password", autocomplete: "new-password" %>
    <%= form.submit "Sign Up", class: "btn btn-primary w-full mt-2" %>
  <% end %>
  <p>or</p>
  <%= link_to "Back to Sign In", new_session_path, class:"link link-info mt-4" %>
<% end %>
