<%= form_with(model: student, class: 'form-control') do |form| %>
  <% if student.errors.any? %>
    <div class="alert alert-error">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>
      <ul>
        <% student.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-control">
    <%= form.label :name, class: 'label' %>
    <%= form.text_field :name, class: 'input input-bordered w-full' %>
  </div>
  <div class="form-control mt-4">
    <%= form.submit class: 'btn btn-primary w-full' %>
  </div>

  <div class="mb-4">
    <%= form.label :section, class: 'label'  %>
    <%= form.text_field :section, class: 'input input-bordered w-full', required: true %>
  </div>

  <div class="mb-4">
    <%= form.label :grade, class:'label' %>
    <%= form.text_field :grade, class: 'input input-bordered w-full', required: true %>
  </div>

  <div class="flex justify-end space-x-4">
    <%= form.submit class: "btn btn-primary" %>
  </div>

<% end %>
