<%= form_with(model: student, class: 'form-control', local: true) do |form| %>

  <% if student.errors.any? %>
    <div class="alert alert-error">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>
      <ul>
        <% student.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :first_name, class: 'label' %>
    <%= form.text_field :first_name, class: 'input input-bordered w-full', required: true %>
  </div>

  <div class="mb-4">
    <%= form.label :last_name, class: 'label' %>
    <%= form.text_field :last_name, class: 'input input-bordered w-full', required: true %>
  </div>

  <div class="mb-4">
    <%= form.label :name, class: 'label' %>
    <%= form.text_field :name, class: 'input input-bordered w-full', required: true %>
  </div>

  <div class="mb-4">
    <%= form.label :grade, class: 'label' %>
    <%= form.text_field :grade, class: 'input input-bordered w-full', required: true %>
  </div>

  <div class="mb-4">
    <%= form.label :classroom_id, class: 'label' %>
    <%= form.text_field :classroom_id, class: 'input input-bordered w-full', required: true %>
  </div>

  <div class="mb-4">
    <%= form.label :student_email_address, class: 'label' %>
    <%= form.email_field :student_email_address, class: 'input input-bordered w-full', required: true %>
  </div>

  <div class="mb-4">
    <%= form.label :parent_email_address, class: 'label' %>
    <%= form.email_field :parent_email_address, class: 'input input-bordered w-full', required: true %>
  </div>

  <div class="form-control mt-4">
    <%= form.submit class: 'btn btn-primary w-full' %>
  </div>

<% end %>
