<%= render "shared/notice" %>
<div class="p-4 card w-1/2 shadow-xl bg-neutral-200 mx-auto flex">
  <%= render @student %>
<div class="mt-8 flex justify-center space-x-4">
  <%= link_to edit_student_path(@student), class: "btn btn-primary" do %>
    <i class="fas fa-edit"></i> Edit
  <% end %>
  <%= link_to students_path, class: "btn btn-secondary" do %>
    <i class="fas fa-arrow-left"></i> Back
  <% end %>
  <%= button_to student_path(@student), method: :delete, class: "btn btn-error mx-auto", data: { turbo_confirm: "Are you sure you want to destroy this student?" } do %>
    <i class="fas fa-trash "></i> Delete
  <% end %>
</div>
</div>
