<%= render "shared/notice" %>
<div class="flex justify-center">
  <%= render @student %>
</div>
<div class="mt-8 flex justify-center space-x-4">
  <%= link_to edit_student_path(@student), class: "btn btn-primary" do %>
    <i class="fas fa-edit"></i> Edit this student
  <% end %>
  <%= link_to students_path, class: "btn btn-secondary" do %>
    <i class="fas fa-arrow-left"></i> Back to students
  <% end %>
  <%= button_to student_path(@student), method: :delete, class: "btn btn-error", data: { turbo_confirm: "Are you sure you want to destroy this student?" } do %>
    <i class="fas fa-trash"></i> Destroy this student
  <% end %>
</div>
