<p style="color: green"><%= notice %></p>
<% content_for :title, "Attendances" %>
<div class="flex justify-end px-2">
  <%= link_to "New Attendance", new_attendance_path, class: "btn btn-primary" %>
</div>

<!--<div class="flex justify-center items-center">-->
  <%#== pagy_nav(@pagy) %>
<!--</div>-->

<div class="overflow-x-auto m-2">
  <table id="List-Attendance" class="w-full text-left border-separate border-spacing-0 bg-white shadow-md rounded-2xl overflow-hidden hover" data-turbo="false">

    <thead>
      <tr>
        <th>Student ID</th>
        <th>Timestamp</th>
        <th>User ID</th>
        <th>action</th>
      </tr>
    </thead>
    <tbody>
      <% @attendances.each do |attendance| %>
        <tr>
          <td><%= attendance.student_id %></td>
          <td><%= attendance.timestamp %></td>
          <td><%= attendance.user_id %></td>

          <td>
            <%= link_to attendance, class: "hover:text-blue-500 text-blue-700" do %>
              <i class="fas fa-eye" title="Show"></i> View
            <% end %>
            <%= link_to edit_attendance_path(attendance), class: "hover:text-yellow-500 text-yellow-700" do %>
              <i class="fas fa-edit" title="Edit"></i> Edit
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<!--<div class="flex justify-center items-center">-->
  <%#== pagy_nav(@pagy) %>
<!--</div>-->

<script>
    document.addEventListener("turbo:load", function () {
        const tableId = "#List-Attendance";

        if (!$.fn.DataTable.isDataTable(tableId)) {
            $(tableId).DataTable({
                responsive: true,
                order:[[1, "desc"]],
                language: {
                    search: "",
                    searchPlaceholder: "Search students...",
                },

            });
        }
    });

</script>
