<p style="color: green"><%= notice %></p>

<div class="mt-2">
  <h1 class="student-title">Student Attendance</h1>
</div>

<div class="student-card max-w-md mx-auto mt-2 p-4 border rounded-lg shadow-lg">

  <!-- Back & Edit Buttons in the Same Line -->
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <!-- Back Button (Left) -->
    <%= link_to attendances_path, class: "btn" do %>
      <i class="fas fa-arrow-left"></i> Back
    <% end %>

    <!-- Edit Button (Right) -->
    <%= link_to edit_attendance_path(@attendance), class: "btn btn-primary" do %>
      <i class="fas fa-edit"></i> Edit
    <% end %>
  </div>

  <div class="mt-8">
    <%= render @attendance %>
  </div>

  <!-- Delete button centered below -->
  <div class="mt-8 flex justify-center space-x-4">
    <%= button_to @attendance, method: :delete, class: "btn btn-error" do %>
      <i class="fas fa-trash"></i> Delete
    <% end %>
  </div>
</div>
