<div class="drawer">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content">
    <%= yield %>
  </div>
  <div class="drawer-side">
    <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu bg-base-200 text-base-content min-h-full w-80 p-4">
      <!-- Sidebar content here -->
      <li><%= link_to root_path do %>
          <i class="fas fa-tachometer-alt"></i> Dashboard
        <% end %></li>
      <li><%= link_to students_path do %>
          <i class="fas fa-user-graduate"></i> Manage Students
        <% end %></li>
      <li><%= link_to new_attendance_path do %>
          <i class="fas fa-qrcode"></i> Add Attendance
        <% end %></li>
      <li><%= link_to attendances_path do %>
          <i class="fas fa-list"></i> List Attendances
        <% end %></li>

      <% if current_user&.can_manage_teachers? %>
        <li><%= link_to users_path do %>
            <i class="fas fa-user-shield"></i> Manage Users
          <% end %></li>
      <% end %>
      <% if current_user.admin? %>
      <li><%= link_to "/students/scan" do %>
          <i class="fas fa-qrcode"></i> Scan QR Code
        <% end %></li>
       <% end %>

      <li>
        <% if current_user&.can_manage_teachers? || @classroom.present? %>
          <%= link_to grading_classroom_path(@classroom || Classroom.first), class: 'your-class' do %>
            <i class="fas fa-graduation-cap"></i> Grades
          <% end %>
        <% else %>
          <span>No Classroom Available</span>
        <% end %>
      </li>






      <li><%= link_to session_path, data: { turbo_method: :delete } do %>
          <i class="fas fa-sign-out-alt"></i> Logout
        <% end %></li>
    </ul>
  </div>
</div>
